.navbar__list--links, .navbar__list {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  position: relative;
}

.navbar {
  background: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  width: 100%;
  position: fixed;
}
.navbar__logo {
  cursor: pointer;
  margin-left: 24px;
  margin-top: 10px;
}
.navbar__logo img {
  width: 100%;
  height: 6.5vh;
}
.navbar__list {
  list-style: none;
  text-align: center;
  margin-right: 24px;
  font-size: 0.9em;
}
@media screen and (max-width: 768px) {
  .navbar__list {
    display: none;
  }
}
.navbar__list--links {
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  color: white;
}
.navbar__list--links:hover {
  color: #76C090;
  transition: all 0.3s ease;
}

.footer {
  margin-top: 40px;
  color: white;
  background-color: rgb(33, 32, 32);
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: 50% 50%; /* Divide the footer into two equal columns */
  padding-bottom: 20px;
  padding-top: 10px;
}
.footer__info {
  position: relative;
  padding-left: 5vw;
  padding-top: 5vh;
  padding-right: 5vw;
}
.footer__info__media {
  margin-top: 85px;
  text-align: center;
}
.footer__info__media i {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.footer__info img {
  padding-left: 18vw;
  height: 6vh;
  justify-content: center;
  max-width: 100%;
}
.footer__info p {
  row-gap: 10px;
  margin-left: 5vw;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  width: 30vw;
  position: absolute;
}
.footer__newsletter {
  padding-left: 5vw;
  padding-top: 5vh;
  padding-right: 5vw;
}
.footer__newsletter p {
  margin-top: 10px;
  font-size: 12px;
}
.footer__newsletter input[type=email] {
  margin-top: 10px;
  width: 15vw;
  height: 5vh;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
}
.footer__newsletter button {
  border-radius: 8px;
  height: 5vh;
  width: 6vw;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #76C090;
  color: white;
  cursor: pointer;
}

.page {
  width: 100%;
  height: auto;
  min-height: 90vh;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__facture {
  width: 100%;
}
.page__facture h2 {
  padding-top: 10px;
  color: #76C090;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.page__facture__detail {
  width: 70%;
  margin: auto auto;
}
.page__facture__detail__entete {
  padding-top: 8px;
  font-size: 14px;
  display: flex;
  text-align: center;
  height: 5vh;
  background-color: #f5f7fa;
}
.page__facture__detail__entete .image {
  width: 25%;
}
.page__facture__detail__entete .nom {
  width: 25%;
}
.page__facture__detail__entete .prix {
  width: 15%;
}
.page__facture__detail__entete .quantity {
  width: 15%;
}
.page__facture__detail__entete .total {
  width: 20%;
}
.page__facture__detail__corps {
  background-color: rgba(255, 255, 255, 0.699);
  margin-top: 4px;
  padding-top: 4px;
  font-size: 14px;
  display: flex;
  text-align: center;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.page__facture__detail__corps .image {
  width: 25%;
}
.page__facture__detail__corps .image img {
  max-width: 100%;
  height: 18vh;
}
.page__facture__detail__corps .nom {
  width: 25%;
  text-align: left;
  margin-left: 40px;
  font-size: 14px;
  font-weight: 400;
}
.page__facture__detail__corps .prix {
  width: 15%;
  font-weight: 600;
}
.page__facture__detail__corps td.quantity {
  width: 15%;
}
.page__facture__detail__corps td.quantity span.quantity {
  display: flex;
  justify-content: center;
  float: right;
  margin-right: 30px;
}
.page__facture__detail__corps td.quantity span.quantity p {
  float: right;
  font-size: 12px;
}
.page__facture__detail__corps td.quantity span.quantity span.quantity__button {
  margin-top: 5px;
  text-align: center;
  border: none;
  height: 3vh;
  background-color: transparent;
  padding: 0px 4px 0px 4px;
  border-radius: 50%;
  cursor: pointer;
}
.page__facture__detail__corps td.quantity span.quantity span.quantity__button i {
  font-size: 10px;
}
.page__facture__detail__corps td.quantity span.quantity input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  width: 3.5vw;
  height: 4.5vh;
  float: right;
  padding-left: 10px;
  text-align: center;
  background-color: #f5f7fa;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}
.page__facture__detail__corps .supprimer button.delete {
  padding: 5px 15px 5px 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
}
.page__facture__detail__corps .total {
  width: 20%;
  font-weight: 600;
}
.page__facture__detail__pied {
  background-color: #f5f7fa;
  height: 10vh;
  display: block;
}
.page__facture__detail__pied .panier {
  margin-top: 15px;
  float: right;
  margin-right: 10vh;
}
.page__facture__detail__pied .panier button {
  background-color: #76C090;
  border: 1px solid #76C090;
  color: white;
  border-radius: 6px;
  padding: 0px 10px 0px 10px;
  height: 6vh;
  cursor: pointer;
}
.page__facture__detail__pied .panier button a {
  text-decoration: none;
  color: white;
}
.page__facture__detail__pied .panier button i {
  margin-left: 10px;
}/*# sourceMappingURL=panier.css.map */